@model List<Product>
@{
    ViewBag.Title = "Index";
}

    <section class="latest-product-area latest-padding">
       <!-- Nav Card -->
            <div class="tab-content" id="nav-tabContent">
                <!-- card one -->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="~/Content/assets/img/categori/product1.png" alt="">
                                    <div class="new-product">
                                        <span>New</span>
                                    </div>
                                </div>
                                <div class="product-caption">
                                    <div class="product-ratting">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star low-star"></i>
                                        <i class="far fa-star low-star"></i>
                                    </div>
                                    <h4><a href="#">Green Dress with details</a></h4>
                                    <div class="price">
                                        <ul>
                                            <li>$40.00</li>
                                            <li class="discount">$60.00</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                                </div>
                            </div>
                        </div>
                
                            <
            <!-- End Nav Card -->
    </section>
    <!-- Latest Products End -->
    <!-- Latest Offers Start -->
    <div class="latest-wrapper lf-padding">
        <div class="latest-area latest-height d-flex align-items-center">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-5 col-lg-5 col-md-6 offset-xl-1 offset-lg-1">
                        <div class="latest-caption">
                            <h4 class="text-center text-info">Get Our Latest Offers News</h4>
                         </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-6 ">
                        <div class="latest-subscribe">
                            <form action="@Url.Action("Index","Products")">
                                <input type="email" placeholder="Your email here...">
                                <button class="text-black"> Okey :)</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- man Shape -->
            <div class="man-shape">
                <img src="~/Content/assets/img/collection/latest-man.png" alt="">
            </div>
        </div>
    </div>
    <!-- Latest Offers End -->
    <!-- Gallery Start-->
    <div class="gallery-wrapper lf-padding">
        <div class="gallery-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="gallery-items">
                        <img src="~/Content/assets/img/gallery/photo1.jpg" alt="">
                    </div>
                    <div class="gallery-items">
                        <img src="~/Content/assets/img/gallery/photo2.jpg" alt="">
                    </div>
                    <div class="gallery-items">
                        <img src="~/Content/assets/img/gallery/photo3.jpg" alt="">
                    </div>
                    <div class="gallery-items">
                        <img src="~/Content/assets/img/gallery/photo4.jpg" alt="">
                    </div>
                    <div class="gallery-items">
                        <img src="~/Content/assets/img/gallery/photo5.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery End-->

<!-- JS here -->
<!-- All JS Custom Plugins Link Here here -->
<script src="~/Content/assets/js/vendor/modernizr-3.5.0.min.js"></script>

<!-- Jquery, Popper, Bootstrap -->
<script src="~/Content/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="~/Content/assets/js/popper.min.js"></script>
<script src="~/Content/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="./assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="~/Content/assets/js/owl.carousel.min.js"></script>
<script src="~/Content/assets/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="~/Content/assets/js/wow.min.js"></script>
<script src="~/Content/assets/js/animated.headline.js"></script>
<script src="~/Content/assets/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="~/Content/assets/js/jquery.scrollUp.min.js"></script>
<script src="~/Content/assets/js/jquery.nice-select.min.js"></script>
<script src="~/Content/assets/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="~/Content/assets/js/contact.js"></script>
<script src="~/Content/assets/js/jquery.form.js"></script>
<script src="~/Content/assets/js/jquery.validate.min.js"></script>
<script src="~/Content/assets/js/mail-script.js"></script>
<script src="~/Content/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="~/Content/assets/js/plugins.js"></script>
<script src="~/Content/assets/js/main.js"></script>

