<footer>
    <div class="footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <div id="aboutus">
                                <h4><font face="tahoma" color="#5333FF">ABOUT US</font></h4>
                                <p><font face="tahoma" size="2" color="#0000A0">BookStore, you can buy and sell any book you want.<br /> You can strengthen your reading habit with affordable books. <br />You can also help others read books by selling them at affordable prices.<br /> So, BUY-SELL-READ with BOOKSTORE.</font></p>
                            </div>
                            <ul>
                                <li><a href="#">A good salesman</a></li>
                                <li><a href="#">A good buyer</a></li>
                                <li><a href="#">User Agreement</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div id="contactus" class="block-5 mb-5">
                        <h3 class="footer-heading mb-4">Contact Info</h3>
                        <ul class="list-unstyled">
                            <li class="address"> Ankara, TURKEY </li>
                            <li class="phone"><a href="tel://+905541172005">+905541172005</a></li>
                            <li class="email">cerennsusuz@gmail.com</li>
                        </ul>
                    </div>

                    <div class="block-7">
                        <form action="#" method="post">
                            <label for="email_subscribe" class="footer-heading">Subscribe</label>
                            <div class="form-group">
                                <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                                <input type="submit" class="btn btn-sm btn-info" value="Send">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-7">
                    <div class="footer-copy-right">
                        <p>
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made by <a href="#" target="_blank">Ceren SUSUZ</a><i class="ti-heart" aria-hidden="true"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
